---
import "@sty/Main/index.styl"
import { configs, sidebar } from "@s/config"
import Author from "./author.vue"
import List from "./list.vue"
const position:string = configs.sidebar.position
const cards:sidebar = configs.sidebar.cards
---

<main>
  <div id="sidebar" class={position}>
    {cards.author && <Author />}
  </div>
  <List />
</main>