---
import Default from "@lay/Default.astro"
import Header from "@com/Header/index.astro"
import Footer from "@com/Footer/index.astro";
import Main from "@com/Main/main.astro";
--- 


<Default>
  <div id="body-wrap">
    <Header />
    <Main />
    <Footer />
  </div>
</Default>