---
import "@sty/var.stylus"
import Default from "@lay/Default.astro"
import Header from "@com/Header/index.astro"
import Footer from "@com/Footer/index.astro";
--- 

<Default>
  <div id="body-wrap">
    <Header></Header>
    <Footer></Footer>
  </div>
</Default>