---
  import Info from "./Info.astro"
  import Menu from "./Menu.vue"
  import "../../styles/Header/index.styl"
---

<header id="header">
  <nav id="nav">
    <Info></Info>
    <Menu></Menu>
  </nav>
</header>

<script>
  window.addEventListener('scroll', function() {
    if (window.pageYOffset === 0) {
      const nav = document.querySelector("#header #nav")
      nav.classList.remove('scroll');
    } else {
      const nav = document.querySelector("#header #nav")
      nav.classList.add('scroll');
    }
  });
</script>
