---
  import Info from "./Info.astro"
  import Menu from "./Menu.vue"
  import "../../styles/Header/index.styl"
---

<header>
  <nav id="nav">
    <Info></Info>
    <Menu></Menu>
  </nav>
</header>
