---
import { configs } from "@s/config";
---

<span id="blog-info">
  <a href="/" title={configs.site.name} data-pjax-state="">
    <img class="site-icon" src={configs.site.icon}>
    <span class="site-name">
      {configs.site.name}
    </span>
  </a>
</span>