---
  import "../../styles/Footer/index.styl"
  import { configs } from "@s/config";
  import Buttons from "./button.vue"
---

<footer id="footer">
  <div id="footer-buttons">
    <Buttons></Buttons>
  </div>
  <div id="foot"></div>
  <div id="foot-badges"></div>
</footer>
