---
  import "@sty/Footer/index.styl"
  import { configs } from "@s/config"
  import Buttons from "./button.vue"
  import Menus from "./menus.vue";
  import Badges from "./badges.vue";
  import Info from "./info.vue";
---

<footer id="footer">
  <div id="footer-buttons">
    <Buttons></Buttons>
  </div>
  <div id="foot">
    <Menus />
  </div>
  <div id="footer-banner">
    <Info />
    <Badges />
  </div>
</footer>
