#footer-banner
  margin-top: 15px
  height: 36px
#footer-badges
  display: flex
  justify-content: space-between
  margin: 10px 300px
#footer-info
  display: flex;
  flex-direction: column;
  align-items: center;
  .copyright
    cursor default
  .icp
    margin-top: 5px
    text-decoration: none
    color: var(--font-gray)
    display: block
