#foot
    background-color: var(--theme-card-pure-bg)
    height: fit-content
    padding: 0px 10px 15px
    margin: 36px 100px 0 100px
    border-radius: 10px;
    box-shadow:  8px 8px 12px #d0d0d0, -8px -8px 12px #ffffff;
    display: flex
    flex-direction: row
    justify-content: space-between
    .footer-menu
      width: 100%
      margin: 0 10px
    .menu-contents
      display: flex
      flex-direction: column
      a
        padding: 3px 0
        text-decoration: none
        color: var(--font-gray)