@import "../index/mix"
#foot
    height: fit-content
    padding: 0px 10px 15px
    margin: 36px 100px 0 100px
    simpleCard()
    display: flex
    flex-direction: row
    justify-content: space-between
    .footer-menu
      width: 100%
      margin: 0 10px
    .menu-title
      margin-left: 3px
    .menu-contents
      display: flex
      flex-direction: column
      a
        width: fit-content
        padding: 3px 5px
        border-radius: 5px
        text-decoration: none
        color: var(--font-gray)
        background-color: transparent
        transition: .3s
      a:hover
        background-color: rgba(0 0 0 .2)